{% extends 'uploader/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<form action="." method="post"
      enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-6">
        <h3>CBRC/BORG COVID-19 Sequence Database</h3>
	<h4>Database for collecting COVID-19 sequence data from Saudi
	  Arabia.</h4>
	<p>
	  Upload your SARS-CoV-2 sequence (FASTA or FASTQ formats)
	  with metadata (in JSON-LD) to the CBRC/BORG COVID-19
	  Sequence Database.  Each upload will be processed using a
	  set
	  of <a href="https://workbench.cborg.cbrc.kaust.edu.sa/projects/cborg-j7d0g-3yx09joxonkhbru#Workflows">standardized
	  workflows</a> which generates a pangenome with associated
	  metadata available for
	  <a href="https://workbench.cborg.cbrc.kaust.edu.sa/projects/cborg-j7d0g-zcdm4l3ts28ioqo#Data_collections">download</a>. The
	  pangenome and metadata can be loaded in a graph database and
	  we make them available to
	  be <a href="https://sparql.cbrc.kaust.edu.sa/XXXXXX">queried</a>.

	  We provide a
	  free <a href="https://github.com/bio-ontology-research-group/XXXXXX">command
	  line tool</a> to support bulk uploads to the CBRC/BORG
	  COVID-19 Sequence Database and other CBRC/BORG
	  projects. <a href="https://cemse.kaust.edu.sa/borg/people">Contact
	  us</a> to obtain a token for direct uploads.
	</p>

    </div>
    <div class="col-6">
    {% for field in form.file_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	</label>
	{{ field | add_class:"form-control" }}
	<small class="form-text text-muted">
	  {{ field.help_text }}
	</small>
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
      <button class="btn btn-primary float-right" type="submit">Submit</button>
    </div>
  </div>
  <div class="row" id="metadata_fields">
    <div class="col-3">
      <h3>Host</h3>
      {% for field in form.host_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	  <a href="javascript:alert('{{ field.help_text }}')">?</a>
	</label>
        {{ field | add_class:"form-control" }}
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
    </div>
    <div class="col-3">
      <h3>Sample</h3>
      
      {% for field in form.sample_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	  <a href="javascript:alert('{{ field.help_text }}')">?</a>
	</label>
        {{ field | add_class:"form-control" }}
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
    </div>
    <div class="col-3">
      <h3>Technology</h3>
      
      {% for field in form.technology_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	  <a href="javascript:alert('{{ field.help_text }}')">?</a>
	</label>
        {{ field | add_class:"form-control" }}
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
      
      <h3>Virus</h3>
      {% for field in form.virus_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	  <a href="javascript:alert('{{ field.help_text }}')">?</a>
	</label>
        {{ field | add_class:"form-control" }}
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
    </div>
    <div class="col-3">
      <h3>Submitter</h3>
      
      {% for field in form.submitter_fields %}
      <div class="form-group">
	<label for="{{ field.auto_id }}">{{ field.label }}
	  {% if field.field.required %}
	  <span class="required">*</span>
	  {% endif %}
	  <a href="javascript:alert('{{ field.help_text }}')">?</a>
	</label>
        {{ field | add_class:"form-control" }}
	<small class="text-danger">
	  {{ field.errors.0 }}
	</small>
      </div>
      {% endfor %}
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/uploader.js" %}">
</script>
{% endblock %}
